body, figure, figcaption, nav,
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

nav ul {
  list-style: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none; }

.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .flexbox.flex-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

body {
  min-height: 100vh;
  width: 100%; }

.card-flipping-block {
  width: 100%; }
  .card-flipping-block .cards .card-container {
    width: 100px;
    height: 200px;
    -webkit-perspective: 800px;
            perspective: 800px; }
    .card-flipping-block .cards .card-container:hover .card {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg); }
    .card-flipping-block .cards .card-container .card {
      width: 100%;
      height: 100%;
      position: relative;
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
      transition: -webkit-transform 500ms ease-in-out;
      transition: transform 500ms ease-in-out;
      transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out; }
      .card-flipping-block .cards .card-container .card .card-part {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden; }
      .card-flipping-block .cards .card-container .card .front {
        background: lightblue; }
      .card-flipping-block .cards .card-container .card .back {
        background: lightgreen;
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg); }
